<div style="background-color: #212529">
        <nav class="navbar navbar-dark bg-dark">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="servicos-tab" data-toggle="tab" href="#servicos" role="tab" aria-controls="servicos"
                aria-selected="true">Serviços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="portfolios-tab" data-toggle="tab" href="#portfolios" role="tab"
                aria-controls="servicos" aria-selected="true">Portfolios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="quemSomos-tab" data-toggle="tab" href="#quemSomos" role="tab"
                aria-controls="quemSomos" aria-selected="false">Quem somos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="equipe-tab" data-toggle="tab" href="#equipe" role="tab" aria-controls="equipe"
                aria-selected="false">Equipe</a>
        </li>
    </ul>
    </nav>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="servicos" role="tabpanel" aria-labelledby="servicos-tab">...</div>
        <div class="tab-pane fade show active" id="portfolios" role="tabpanel" aria-labelledby="portfolios-tab">
            <h2>Portfólios</h2>
            <div class="input-group">
                <button type="submit" class="btn btn-primary">Novo</button>
            </div>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Primeiro</th>
                        <th scope="col">Último</th>
                        <th scope="col">Nickname</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="quemSomos" role="tabpanel" aria-labelledby="quemSomos-tab">...</div>
        <div class="tab-pane fade" id="equipe" role="tabpanel" aria-labelledby="equipe-tab">...</div>
    </div>
</div>