<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"
            style="font-size: 2.5em; font-family: 'Libre Barcode 39 Text', cursive;">HTTCs</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">Quem somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#team">Equipe</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead" id="page-top">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bem vindo à</div>
            <div class="intro-heading text-uppercase">HTTCs</div>
            <div class="intro-heading text-uppercase" style="font-size: 20px;">Soluções Tecnologicas</div>
        </div>
    </div>
</header>

<!-- Serviços -->
<section class="bg-white page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Serviços</h2>
                <h3 class="section-subheading text-muted">Desenvolvimento de soluções em diversas tecnologias e
                    plataformas.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web</h4>
                <p class="text-muted">Desenvolvemos aplicações web projetadas para atender às necessidades específicas
                    de seu projeto e negócio.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-mobile-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Mobile</h4>
                <p class="text-muted">Desenvolvemos aplicações mobile que se integram com o seu projeto e negócio
                    criando uma
                    experiência de valor para os usuários.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-microchip fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">IOT</h4>
                <p class="text-muted">Desenvolvemos aplicações IOT que proporcionam novas funcionalidades e serviços,
                    tornando o
                    seu projeto e negócio muito mais eficiente.</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid -->
<section class="bg-light page-section" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Portfolio</h2>
                <h3 class="section-subheading text-muted">Conheça nossos trabalhos.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item" *ngFor="let p of portfolios">
                <a class="portfolio-link" data-toggle="modal" (click)="openModal(p)" href="#portfolioModal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" [src]="p.imagem" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{p.titulo}}</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Quem somos -->
<section class=" bg-white page-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Quem somos</h2>
                <h3 class="section-subheading text-muted">Conheça nossa história.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">

                    <li *ngFor="let q of quemSomosList">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" [src]="q.imagem" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{q.ano}}</h4>
                                <h4 class="subheading">{{q.titulo}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{q.descricao}}</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Equipe -->
<section class="bg-light page-section" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Equipe</h2>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/geison.jpg" alt="">
                    <h4>Geison Feitosa</h4>
                    <p class="text-muted">Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a target="_blank"
                                href="https://api.whatsapp.com/send?phone=5562981257627&text=Olá vi seu portfólio na web.">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://github.com/geisonfeitosa">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.linkedin.com/in/geisonfeitosa/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/luis2.jpg" alt="">
                    <h4>Luis Carlos</h4>
                    <p class="text-muted">Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a target="_blank"
                                href="https://api.whatsapp.com/send?phone=5562996687476&text=Olá vi seu portfólio na web.">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://github.com/lcmajr">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank"
                                href="https://www.linkedin.com/in/lu%C3%ADs-carlos-martins-arruda-junior-77544a1a1/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/maria.jpg" alt="">
                    <h4>Maria Regina</h4>
                    <p class="text-muted">Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a target="_blank"
                                href="https://api.whatsapp.com/send?phone=5562997018186&text=Olá vi seu portfólio na web.">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://github.com/MariaRegina">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.linkedin.com/in/maria-regina-deus-26aa60155/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <!-- <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam
            veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p> -->
            </div>
        </div>
    </div>
</section>

<!-- Tecnologias -->
<section class="bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-2 image-center">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" style="max-height: 100px" src="assets/img/logos/java.jpg"
                        alt="">
                </a>
            </div>
            <div class="col-2 image-center">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" style="max-height: 100px" src="assets/img/logos/spring.jpg"
                        alt="">
                </a>
            </div>
            <div class="col-2 image-center">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" style="max-height: 100px" src="assets/img/logos/angular.jpg"
                        alt="">
                </a>
            </div>
            <div class="col-2 image-center">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" style="max-height: 100px" src="assets/img/logos/ionic.jpg"
                        alt="">
                </a>
            </div>
            <div class="col-2 image-center">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" style="max-height: 100px" src="assets/img/logos/arduino.jpg"
                        alt="">
                </a>
            </div>
            <div class="col-2 image-center">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" style="max-height: 100px" src="assets/img/logos/python.jpg"
                        alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row center">
            <span class="copyright">Copyright &copy; HTTCs 2020</span>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->

<!-- Modal -->
<div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">{{portfolio.titulo}}</h2>
                            <p class="item-intro text-muted">{{portfolio.descricao}}</p>
                            <img class="img-fluid d-block mx-auto" [src]="portfolio.imagem" alt="">
                            <a href="{{portfolio.linkRepositorio}}" target="_blank">
                                <p class="item-intro text-muted">Repositório código fonte</p>
                            </a>
                            <a href="{{portfolio.linkAplicacao}}" target="_blank">
                                <p class="item-intro text-muted">Link aplicação</p>
                            </a>
                            <button class="btn btn-primary" data-dismiss="modal" type="button" style="margin-top: 30px">
                                <i class="fas fa-times"></i>
                                Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>