.logo {
    color: #fed136 !important;
    font-size: 2em;
    line-height: 0px;
    font-family: 'Libre Barcode 39 Text', cursive;
}

.btn {
    margin: 20px 0px 10px;
    color: #212529 !important;
    display: flex;
    justify-content: right;
}

.btn-list {
    float:left;
    margin: 0 0 0 0 !important;
    color: #212529 !important;
    display: flex;
    justify-content: right;
}

.btn-outline {
    border-color: #fed136 !important;
    color: #fed136 !important;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #685c31 !important;
    border-color: #685c31  !important;
}

h2 {
    color: #fed136;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    margin-top: 20px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #212529;
    background-color: #fed136;
    border-color: #fed136;
}

.tab-content {
    height: 100% !important;
}

.nav-tabs {
    border-bottom: 0px;
}

label, .form-control-file {
    color: #ffffff;
}

@media(max-width:899px) {
    .novo {
        padding: 5px 20px 0px 20px;
    }
}

@media(min-width:900px) {
    .novo {
        padding: 5px 80px 0px 80px;
    }
}

.list {
    padding: 10px;
}

.btn-modal {
  margin: 0 15px 10px;
  background-color: #212529;
  border-color: #212529;
  color: #fed136 !important;
}

.btn-modal:hover {
  background-color: #fed136;
  border-color: #fed136;
  color: #212529 !important;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    height: 50px;
    padding: 0px;
    border-top: none;
}