<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper ">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <a style="font-size: 3em; font-family: 'Libre Barcode 39 Text', cursive;" (click)="home()">HTTCs</a>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn" name="email" [(ngModel)]="usuario.email" (keyup.enter)="logar()" placeholder="Email">
      <input type="password" id="password" class="fadeIn" name="senha" [(ngModel)]="usuario.senha" (keyup.enter)="logar()" placeholder="Senha">
      <div class="row remember">
        <input type="checkbox" (change)="lembrar()" name="lembrar" [ngModel]="lembrarDados" [disabled]="!usuario.email || !usuario.senha"><label>Lembrar meus dados</label>
      </div>
      <input type="submit" class="fadeIn fourth" (click)="logar()" value="Entrar" [disabled]="!usuario.email || !usuario.senha">
    </form>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" (keyup.enter)="closeModal()">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    <div id="msgT"></div>
                </h4>
            </div>
            <div class="modal-body">
                <div id="msgC"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>