.image-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    justify-content: center;
}

footer {
    color: white;
    height: 50px;
    padding-top: 10px;
}